<div class="profile-container" *ngIf="profileData">
  <h1>Personal Data</h1>
  <div class="row">
    <div class="profile-data col-sm-6">
      <div class="row">
        <div class="col-sm-6">
          <strong>Name</strong>
        </div>
        <div class="col-sm-6">
          {{profileData.firstName}} {{profileData.lastName || defaultFieldValue}}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <strong>Country</strong>
        </div>
        <div class="col-sm-6">
          {{profileData.country || defaultFieldValue}}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <strong>City</strong>
        </div>
        <div class="col-sm-6">
          {{profileData.city || defaultFieldValue}}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <strong>Address</strong>
        </div>
        <div class="col-sm-6">
          {{profileData.address || defaultFieldValue}}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <strong>Birth Date</strong>
        </div>
        <div class="col-sm-6">
          {{profileData.birthDate || defaultFieldValue}}
        </div>
      </div>
    </div>
    <div class="avatar-data col-sm-6">
      <ngx-avatar name="{{profileData.firstName}} {{profileData.lastName}}" size="200"></ngx-avatar>
    </div>
  </div>

  <button
    class="btn mocofrona-btn"
    (click)="openProfileModal(template)">
    Update profile
  </button>
</div>

<ng-template #template>
  <div class="modal-header">
    <h5 class="modal-title pull-left">Profile</h5>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="profileForm">
      <div class="row">
        <label class="col-sm-4" for="userFirstName">First name</label>
        <input
          type="text"
          formControlName="firstName"
          class="form-control col-sm-6"
          id="userFirstName"
          placeholder="Enter first name">
      </div>
      <div class="row">
        <label class="col-sm-4" for="userLastName">Last name</label>
        <input
          type="text"
          formControlName="lastName"
          class="form-control col-sm-6"
          id="userLastName"
          placeholder="Enter last name">
      </div>
      <div class="row">
        <label class="col-sm-4" for="userCountry">Country</label>
        <input
          type="text"
          formControlName="country"
          class="form-control col-sm-6"
          id="userCountry"
          placeholder="Enter your country">
      </div>
      <div class="row">
        <label class="col-sm-4" for="userCity">City</label>
        <input
          type="text"
          formControlName="city"
          class="form-control col-sm-6"
          id="userCity"
          placeholder="Enter your city">
      </div>
      <div class="row">
        <label class="col-sm-4" for="userAddress">Address</label>
        <input
          type="text"
          formControlName="address"
          class="form-control col-sm-6"
          id="userAddress"
          placeholder="Enter your address">
      </div>
      <div class="row">
        <label class="col-sm-4" for="userBirthday">Birthday</label>
        <input
          type="text"
          formControlName="birthDate"
          class="form-control col-sm-6"
          id="userBirthday"
          placeholder="Select your birthday">
      </div>

      <button
        class="btn btn-danger float-left"
        (click)="modalRef.hide()">
        Cancel
      </button>
      <button
        class="btn mocofrona-btn float-right"
        [disabled]="!profileForm.touched || !profileForm.dirty || profileForm.pristine || profileForm.invalid"
        (click)="updateProfile()">
        Update
      </button>
    </form>
  </div>
</ng-template>
