<nav class="navbar navbar-expand-lg navbar-light">
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item logo">
        <a class="nav-link" routerLink="/home">MOCOFRONA</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">HOME</a>
      </li>
      <li *ngIf="isLogged" class="nav-item">
        <a class="nav-link" routerLink="/products">PRODUCTS</a>
      </li>
      <li class="nav-item pull-right">
        <a class="nav-link" routerLink="/registration">REGISTRATION</a>
      </li>
    </ul>

    <button
      *ngIf="isLogged"
      (click)="logOff()"
      class="btn my-2 my-sm-0">
      Logout
    </button>
    <button
      *ngIf="!isLogged"
      (click)="logIn()"
      class="btn my-2 my-sm-0">
      Login
    </button>
    <button
      *ngIf="isLogged"
      routerLink="/profile"
      class="btn my-2 my-sm-0">
      My profile
    </button>
  </div>
</nav>
